.myForm {
    display: block;
    width: 300px;
    height: 2rem;
    margin-bottom: 0.5rem;
    align-items: center;
    color: brown;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
}